.intro {
  text-align: center;
}
h2 {
  color: lightskyblue;
  margin: 20px;
  padding: 20px;
}
h1 {
  font-weight: 48;
  color: palevioletred;
}

.contact {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 20px;
  border: 1px;
}
